{{ if .Values.dbsync.enabled -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ include "fivenet.fullname" . }}-dbsync-config"
  labels:
    {{- include "fivenet.labels" . | nindent 4 }}
data:
  dbsync.yaml: {{ tpl (.Values.dbsync.config | toYaml) . | b64enc }}
{{- end }}
